#locationpage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: auto;
  gap: 10px;
}

#locationpage h1 {
  background-color: rgb(207, 83, 0);
  color: white;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 1px rgb(130, 130, 130);
  /* box-sizing: border-box; */
  padding: 10px 0px;
}

#locationpage h1:active {
  box-shadow: 2px 2px 10px 1px rgb(2, 2, 2) inset;
}

#locationpage h1 a {
  color: white;
  text-decoration: none;
}

#locationpage h1 a:hover {
  display: inline-block;
  /* width: 100%; */
  color: green;
  background-color: white;
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  #locationpage {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: auto;
    gap: 10px;
  }
}
@media screen and (max-width: 450px) {
  #locationpage {
    margin: auto;
    gap: 10px;
    /* width: 80%; */
  }
  #locationpage h1 {
    background-color: rgb(207, 83, 0);
    color: white;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px rgb(130, 130, 130);
    /* box-sizing: border-box; */
    /* padding: 10px 0px; */
    /* width: 90%; */
    font-size: 27px;
  }
}

#load{
  /* padding: 30px; */
  width: 100px;
  height: 100px;
  border: 6px solid rgb(255, 0, 0);
  border-width: 6px 6px 6px 0px;
  border-radius: 50%;
  animation: load 1.5s ease infinite ;
  transform: rotate(20deg);
  display: inline-block;
}

@keyframes load {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
